body {
  background: url(../images/congruent_outline.png);
  background-repeat: repeat;
}

#goalNum{ overflow: auto; }
#goalNum div {   float: left; }

#title{
  width: 300px;
  padding: 4px;
  margin-bottom: 10px;
  color: white;
  background-color: orange;
}

#rules{
  width: 400px;
  height: 400px;
  padding: 4px;
  margin-bottom: 10px;
  color: black;
  background-color: beige;
}

#random{
  width: 200px;
  height: 100px;
  padding: 4px;
  font-size: 15px;
  color: black;
  background-color: green;
}

#win-loss{
  width: 100px;
  height: 100px;
  padding: 4px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: cyan;
}

.crystals-button {display: inline; }
.crystal-img{
  width: 80px;
  height: 80px;
  background-color: white;
  cursor: pointer;
}

#score-title{
  width: 200px;
  padding: 4px;
  margin-bottom: 10px;
  color: white;
  background-color: teal;
}

#Score{
  font-size: 15px;
  width: 200px;
  height: 100px;
  padding: 4px;
  color: white;
  background-color: teal;

}