body {
  background-image: url(../images/congruent_outline.png);
  background-repeat: repeat;
}

#screen { overflow: auto; }
#screen div { float: left; }

#title {
  width: 300px;
  padding: 4px;
  margin-bottom: 10px;
  color: white;
  background-color: orange;
}

#instructions {
  width: 400px;
  height: 400px;
  padding: 4px;
  margin-bottom: 10px;
  color: green;
  background-color: beige;
}

#random-area {
  width: 200px;
  height: 100px;
  padding: 4px;
  font-size: 45px;
  color: black;
  background-color: green;
}

#score-area {
  width: 200px;
  height: 100px;
  padding: 4px;
  color: white;
  background-color: teal;
}

#yts {
  width: 200px;
  padding: 4px;
  margin-bottom: 10px;
  color: white;
  background-color: teal;
}

.crystals-button { display: inline; }
.crystal-img {
  width: 80px;
  height: 80px;
  border: solid;
  border-color: chocolate;
  background-color: white;
  cursor: pointer;
}

#score-number { font-size: 45px; }
#win-area {
  height: 100px;
  padding: 4px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: cyan;
}
